
/Aula1JavascriptBackend/*/node_modules
/Aula1JavascriptBackend/*/.env

/Aula2NodeExpress/*/node_modules
/Aula2NodeExpress/*/.env

/Aula3DeployVersionamento/*/node_modules
/Aula3DeployVersionamento/*/.env

/Aula4ConexaoBancoDados/*/node_modules
/Aula4ConexaoBancoDados/*/.env

/Aula5TesteDocumentacao/*/node_modules
/Aula5TesteDocumentacao/*/.env

/Aula6Seguranca/*/node_modules
/Aula6Seguranca/*/.env

/Aula7TypeScript/*/node_modules
/Aula7TypeScript/*/.env

/Aula8SocketStream/*/node_modules
/Aula8SocketStream/*/.env

/Aula9BackendIoT/*/node_modules
/Aula9BackendIoT/*/.env

.DS_Store
