
/Aula1JavascriptBackend/*/node_modules
/Aula1JavascriptBackend/*/.env

/Aula2NodeExpress/*/node_modules
/Aula2NodeExpress/*/.env

/Aula3DeployVersionamento/*/node_modules
/Aula3DeployVersionamento/*/.env

/Aula4ConexaoBancoDados/*/node_modules
/Aula4ConexaoBancoDados/*/.env

/Aula5TesteDocumentacao/*/node_modules
/Aula5TesteDocumentacao/*/.env

/Aula6TypeScript/*/node_modules
/Aula6TypeScript/*/.env

/Aula7SocketStream/*/node_modules
/Aula7SocketStream/*/.env

.DS_Store
